@using Student_Success_Planner.Data


@if (successObjective != null)
{
    <style>
        tr {
            vertical-align: top;
        }
    </style>

    <tr class="successObjective" @onclick="(() => { dialogIsOpen = true; })">
        <!--Need to change display based on type of success objective-->
        @if (successObjective is Course)
        {
            Course course = (Course)successObjective;

            //Display differently based on Course type
            @switch (course.Type)
            {
                case (CourseType.GoalArea):
                    <td class="course goalArea">
                        @course.CourseID


                    </td>
                    break;
                case (CourseType.ProgramCore):
                    <td class="course goalArea">
                        <span class="objectiveName">@course.CourseID</span>
                        <MatDialog @bind-IsOpen="@dialogIsOpen">
                            <MatDialogTitle> @course.Name</MatDialogTitle>
                            <MatDialogContent>
                                <p>Course Description: @successObjective.Description</p>
                                <p>Eservices Link: <a href="@successObjective.ExternalLink">@successObjective.ExternalLink</a></p>
                                <p>Course Weight: @successObjective.Weight</p>
                            </MatDialogContent>
                            <MatDialogActions>
                                <span class="successObjective" @onclick="(() => { dialogIsOpen = false; })">Close</span>
                            </MatDialogActions>
                        </MatDialog>
                    </td>
                    break;
                case (CourseType.Elective):
                    <td class="course elective">
                        <span class="objectiveName">@course.CourseID</span>
                        <MatDialog @bind-IsOpen="@dialogIsOpen">
                            <MatDialogTitle> @course.Name</MatDialogTitle>
                            <MatDialogContent>
                                <p>Course Description: @successObjective.Description</p>
                                <p>Eservices Link: <a href="@successObjective.ExternalLink">@successObjective.ExternalLink</a></p>
                                <p> Course Weight: @successObjective.Weight</p>
                            </MatDialogContent>
                            <MatDialogActions>
                                <span class="successObjective" @onclick="(() => { dialogIsOpen = false; })">Close</span>
                            </MatDialogActions>
                        </MatDialog>
                    </td>
                    break;
                default:
                    <td class="course">
                        <span class="objectiveName">@course.CourseID</span>
                        <MatDialog @bind-IsOpen="@dialogIsOpen">
                            <MatDialogTitle>@course.Name</MatDialogTitle>
                            <MatDialogContent>
                                <p>Course Description: @successObjective.Description</p>
                                <p>Eservices Link: <a href="@successObjective.ExternalLink">@successObjective.ExternalLink</a></p>
                                <p>Course Weight: @successObjective.Weight</p>
                            </MatDialogContent>
                            <MatDialogActions>
                               <span class="successObjective" @onclick="(() => { dialogIsOpen = false; })">Close</span>
                            </MatDialogActions>
                        </MatDialog>

                    </td>
                    break;
                    <RadzenDialog />

            }
        }
        else if (successObjective is SuccessActivity)
        {
    <td class="successActivity">
        <span class="objectiveName">@successObjective.Name</span>
        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle> @successObjective.Name</MatDialogTitle>
            <MatDialogContent>
                <p>Course Description: @successObjective.Description</p>
                <p>Eservices Link: <a href="@successObjective.ExternalLink">@successObjective.ExternalLink</a></p>
                <p>Weight: @successObjective.Weight</p>
            </MatDialogContent>
            <MatDialogActions>
                <span class="successObjective" @onclick="(() => { dialogIsOpen = false; })">Close</span>
            </MatDialogActions>
        </MatDialog>
    </td>
        }
        else //Default to name if type cannot be determined by previous checks
        {
            <td>
                @successObjective.Name
            </td>
        }
    </tr>
}

@code {
    [Parameter]
    public Student_Success_Planner.Data.SuccessObjective successObjective { get; set; }

    bool dialogIsOpen = false;

    void OpenDialog()
    {
        dialogIsOpen = true;
    }

    void OkClick()
    {
        dialogIsOpen = false;
    }
}